version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    labels:
      - 'dependencies'
    groups:
      nestjs:
        patterns:
          - '@nestjs/*'
      next:
        patterns:
          - 'next'
          - 'next-intl'
      prisma:
        patterns:
          - 'prisma'
          - '@prisma/*'
      testing:
        patterns:
          - 'jest'
          - 'vitest'
          - '@testing-library/*'
          - 'playwright'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    labels:
      - 'dependencies'
      - 'github-actions'
